CompileFlags:
  Add:
    - "-I/home/isaac/.arduino15/packages/esp32/hardware/esp32/2.0.14/cores/esp32"
    - "-I/home/isaac/.arduino15/packages/esp32/hardware/esp32/2.0.14/variants/esp32s3"
    - "-I/home/isaac/.arduino15/packages/esp32/hardware/esp32/2.0.14/libraries/WiFi/src"
    - "-I/home/isaac/.arduino15/packages/esp32/hardware/esp32/2.0.14/libraries/HTTPClient/src"
    - "-I/home/isaac/Arduino/libraries/ArduinoJson/src"
    - "-I/home/isaac/Arduino/libraries/Adafruit_MQTT_Library"
    - "-I/home/isaac/Downloads/uni/automation/assignment/ESP32_Assignment"
    - "-I/home/isaac/.arduino15/packages/esp32/hardware/esp32/2.0.14/tools/sdk/esp32s3/include/esp_hw_support/include"
    - "-I/home/isaac/.arduino15/packages/esp32/hardware/esp32/2.0.14/tools/sdk/esp32s3/include/esp_common/include"
    - "-I/home/isaac/.arduino15/packages/esp32/hardware/esp32/2.0.14/tools/sdk/esp32s3/include/hal/include"
    - "-I/home/isaac/.arduino15/packages/esp32/hardware/esp32/2.0.14/tools/sdk/esp32s3/include/soc/include"
    - "-I/home/isaac/.arduino15/packages/esp32/hardware/esp32/2.0.14/tools/sdk/esp32s3/include/soc/esp32s3/include"
    - "-I/home/isaac/.arduino15/packages/esp32/hardware/esp32/2.0.14/tools/sdk/esp32s3/include/nvs_flash/include"
    - "-I/home/isaac/.arduino15/packages/esp32/hardware/esp32/2.0.14/tools/sdk/esp32s3/include/spi_flash/include"
    - "-I/home/isaac/.arduino15/packages/esp32/hardware/esp32/2.0.14/tools/sdk/esp32s3/include/esp_wifi/include"
    - "-I/home/isaac/.arduino15/packages/esp32/hardware/esp32/2.0.14/tools/sdk/esp32s3/qio_qspi/include"
